
<!DOCTYPE html>
<html>
<head>
    <title>Student Placement Predictor</title>
</head>
<body>
    <h2>Enter Student Details:</h2>
    <form action="/predict" method="post">
        IQ: <input type="number" name="IQ"><br>
        Previous Semester Result: <input type="number" step="0.01" name="Prev_Sem_Result"><br>
        CGPA: <input type="number" step="0.01" name="CGPA"><br>
        Academic Performance: <input type="number" name="Academic_Performance"><br>
        Internship Experience: 
        <select name="Internship_Experience">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select><br>
        Extra Curricular Score: <input type="number" name="Extra_Curricular_Score"><br>
        Communication Skills: <input type="number" name="Communication_Skills"><br>
        Projects Completed: <input type="number" name="Projects_Completed"><br>
        <br>
        <input type="submit" value="Predict Placement">
    </form>
    <h3>{{ prediction_text }}</h3>
</body>
</html>
